<div class="container">

  <div class="col-xs-3" id="mytimecards-leftnav">
    <h3 class="timecard-leftnav-header-text">TIMECARD STATUS FILTERS</h3>
    <div class="timecard-filter" ng-click="project.setTimecardFilter('all')" ng-class="{'selected': project.timecardFilter == 'all'}">
      <span class="grey">all timecards</span>
      <span class="timecard-filter-badge">{{project.user.timecards.length}}</span>
    </div>
    <div class="timecard-filter" ng-click="project.setTimecardFilter('active')" ng-class="{'selected': project.timecardFilter == 'active'}">
      <span class="timecard-status label label-info">active</span>
      <span class="timecard-filter-badge">{{project.activeTimecardsNumber}}</span>
    </div>
    <div class="timecard-filter" ng-click="project.setTimecardFilter('rejected')" ng-class="{'selected': project.timecardFilter == 'rejected'}">
      <span class="timecard-status label label-danger">rejected</span>
      <span class="timecard-filter-badge">{{project.rejectedTimecardsNumber}}</span>
    </div>
    <div class="timecard-filter" ng-click="project.setTimecardFilter('approvals')" ng-class="{'selected': project.timecardFilter == 'approvals'}">
      <span class="timecard-status label label-warning">approvals</span>
      <span class="timecard-filter-badge">{{project.approvalsTimecardsNumber}}</span>
    </div>
    <div class="timecard-filter" ng-click="project.setTimecardFilter('approved')" ng-class="{'selected': project.timecardFilter == 'approved'}">
      <span class="timecard-status label label-success">approved</span>
      <span class="timecard-filter-badge">{{project.approvedTimecardsNumber}}</span>
    </div>

    <h3 class="timecard-leftnav-header-text">TIMECARDS</h3>
    <div class="timecard-list-header-container">
      <span class="timecard-list-header">Week Ending</span>
      <span class="timecard-list-header">Status</span>
    </div>
    <div class="timecard-list">
      <div class="timecard-list-timecard" ng-click="project.setTimecard(timecard)" ng-class="{'selected': project.timecardSelected == timecard.weekending}" ng-repeat="timecard in project.user.timecards | orderBy: '-weekending'" ng-show="timecard.status == project.timecardFilter || project.timecardFilter == 'all'">
        <span class="timecard-list-date">{{timecard.weekending | date: medium}}</span>
        <span class="list-status label" ng-class="{'label-success': timecard.status =='approved', 'label-info': timecard.status =='active', 'label-danger': timecard.status =='rejected', 'label-warning': timecard.status =='approvals'}">{{timecard.status}}</span>
      </div>
    </div>





  </div>



  <div class="col-xs-8 timecard-main">
    <span class="timecard-leftnav-header-text">Week Ending {{project.activeTimecard.weekending | date: medium}}</span>
    <br>
    <br>
    <div class="timecard-input-area" ng-if="project.activeTimecard.status == 'active' || project.activeTimecard.status == 'rejected'">

        <div class="first-four col-xs-11">
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">CALL</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.call"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesCall"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">WRAP</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.wrap"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesWrap"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">MEAL 1 OUT</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.meal1out"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesMeal1"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">MEAL 1 IN</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.meal1in"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesMeal1"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="first-four col-xs-11">
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">DAY TYPE</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.daytype"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableDayTypes"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">LOCATION</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.location"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableLocations"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">MEAL 2 OUT</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.meal2out"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesMeal1"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
          <div class="input-title-and-field">
            <span class="timecard-input-field-title">MEAL 2 IN</span>
            <select
            chosen
            allow-single-deselect="true"
            placeholder-text-single="' '"
            no-results-text="'not a valid time'"
            ng-model="project.dayInputFields.meal2in"
            ng-disabled = "project.selectedDaysArray.length < 1"
            ng-options="value for value in project.availableTimesMeal1"
            style="width:100px;">
            <option value=""></option>
            </select>
          </div>
        </div>
        <div class="clearfix">

    </div>
    <div class="first-four col-xs-11">
      <select id="multiple-select"
      multiple
      ng-model="project.dayInputFields.projects"
      ng-disabled = "project.selectedDaysArray.length < 1"
      ng-options="value for value in project.availableProjects"
      chosen
      style="width:320px;">
      </select>
      <div class="input-title-and-field">
        <span class="timecard-input-field-title">STATE</span>
        <select
        chosen
        allow-single-deselect="true"
        placeholder-text-single="' '"
        no-results-text="'not a valid time'"
        ng-model="project.dayInputFields.state"
        ng-disabled = "project.selectedDaysArray.length < 1"
        ng-options="value for value in project.availableStates"
        style="width:75px;">
        <option value=""></option>
        </select>
      </div>
      <div class="input-title-and-field">
        <span class="timecard-input-field-title">PER DIEM</span>
        <input type="checkbox" name="" value="true"
        ng-disabled = "project.selectedDaysArray.length < 1" ng-model="project.dayInputFields.perdiem">
      </div>
    </div>
<div class="clearfix">

    </div>

    </div>
    <div class="apply-button-area" ng-if="project.activeTimecard.status == 'active' || project.activeTimecard.status == 'rejected'">
      <button type="button" class="btn btn-primary" ng-class="{'disabled': project.selectedDaysArray.length < 1}" name="button" ng-click="project.printUser(); project.applyTimes()">
        <span ng-show="project.selectedDaysArray.length > 0">apply above to selected days</span>
        <span ng-show="project.selectedDaysArray.length < 1">click on a day to get started</span>
      </button>
      <span class="or-cancel" ng-show="project.selectedDaysArray.length > 0">or <a class="underline" ng-click="project.revertActiveTimecard()">cancel</a></span>
    </div>

    <div class="display-days-section" ng-if="project.activeTimecard.status == 'active' || project.activeTimecard.status == 'rejected'">


      <div class="day" ng-repeat="day in project.availableDays" ng-click="project.isThisDayHighLighted(day); project.highlightObject[day] = !project.highlightObject[day]; project.adjustSelectedDays(day)"ng-class="{'highlighted': project.highlightObject[day] == true}">
        <div class="day-name-area col-xs-1">
          <span class="day-name">
            {{day | limitTo: 3}}
          </span>
          <span class="day-date">
            1/16/17
          </span>
          <span class="time-hours-worked">
            3<span class="hours-units"> hrs</span>
          </span>
        </div>

        <div class="day-data-area col-xs-11">
          <div class="row-display-times-call">
            <div class="time-display-holder call-and-wrap">
              {{project.activeTimecard[day].call}}
            </div>
            <div class="time-display-holder call-and-wrap">
              {{project.activeTimecard[day].wrap}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal1out}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal1in}}
            </div>
          </div>
          <div class="clearfix">

          </div>
          <div class="row-display-times-call">
            <div class="time-display-holder additional-info">
              {{project.activeTimecard[day].daytype}}
            </div>
            <div class="time-display-holder additional-info">
              {{project.activeTimecard[day].location}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal2out}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal2in}}
            </div>
          </div>
          <div class="clearfix">

          </div>
          <div class="row-display-times-call">
            <div class="day-project-list">
              <span ng-repeat='item in project.activeTimecard[day].projects' class="project-item-display">{{item}} | <span class="project-amount">{{100/project.activeTimecard[day].projects.length | number: 0}}</span></span>
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].state}}

            </div>
            <div class="time-display-holder">
              <span ng-show="project.activeTimecard[day].perdiem">{{project.activeTimecard[day].perdiem}}</span>

            </div>


          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="clearfix">

        </div>
      </div>
      </div>
    <div class="display-days-section-read-only" ng-if="project.activeTimecard.status == 'approvals' || project.activeTimecard.status == 'approved'">

      <div class="day" ng-repeat="day in project.availableDays" >
        <div class="day-name-area col-xs-1">
          <span class="day-name">
            {{day | limitTo: 3}}
          </span>
          <span class="day-date">
            1/16/17
          </span>
          <span class="time-hours-worked">
            3<span class="hours-units"> hrs</span>
          </span>
        </div>

        <div class="day-data-area col-xs-11">
          <div class="row-display-times-call">
            <div class="time-display-holder call-and-wrap">
              {{project.activeTimecard[day].call}}
            </div>
            <div class="time-display-holder call-and-wrap">
              {{project.activeTimecard[day].wrap}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal1out}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal1in}}
            </div>
          </div>
          <div class="clearfix">

          </div>
          <div class="row-display-times-call">
            <div class="time-display-holder additional-info">
              {{project.activeTimecard[day].daytype}}
            </div>
            <div class="time-display-holder additional-info">
              {{project.activeTimecard[day].location}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal2out}}
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].meal2in}}
            </div>
          </div>
          <div class="clearfix">

          </div>
          <div class="row-display-times-call">
            <div class="day-project-list">
              <span ng-repeat='item in project.activeTimecard[day].projects' class="project-item-display">{{item}} | <span class="project-amount">{{100/project.activeTimecard[day].projects.length | number: 0}}</span></span>
            </div>
            <div class="time-display-holder">
              {{project.activeTimecard[day].state}}

            </div>
            <div class="time-display-holder">
              <span ng-show="project.activeTimecard[day].perdiem">{{project.activeTimecard[day].perdiem}}</span>

            </div>


          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="clearfix">

        </div>
      </div>
    </div>

    <div class="approval-history-comments-section">
      <div class="approval-flow-display panel panel-primary">
        <div class="panel-heading"><h6 class="panel-title">Approvals</h6></div>
        <div class="if-active-or-rejected" ng-show="project.activeTimecard.status == 'active' || project.activeTimecard.status == 'rejected'">
          <div class="approver-level" ng-repeat="level in project.currentUserApprovalFlow">
              <span ng-class="{'glyphicon-circle-arrow-down': !$last, 'glyphicon-ok-circle': $last}"class="glyphicon"></span> <span>{{level.first}} {{level.last}}</span>
          </div>
        </div>
        <div class="if-in-approvals" ng-show="project.activeTimecard.status == 'approvals' ||project.activeTimecard.status == 'approved'">
          <div class="approver-level" ng-repeat="level in project.activeTimecard.approvalflow">
            <div class="for-coloration" ng-class="{'level-not-approved': level.approved == false, 'level-approved': level.approved == true}">
              <span ng-class="{'glyphicon-circle-arrow-down': !$last, 'glyphicon-ok-circle': $last}"class="glyphicon"></span> <span>{{level.first}} {{level.last}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="history-section panel panel-primary">
        <div class="panel-heading"><h6 class="panel-title">History</h6></div>
        <div class="history-level" ng-repeat="event in project.activeTimecard.history | orderBy: '-time'">
          <span class="history-section-name">{{event.first}} {{event.last}}</span> <span class="label" ng-class="{'label-success': event.action =='approved', 'label-danger': event.action =='rejected', 'label-warning': event.action =='submitted'}">{{event.action}}</span> <span>{{event.time | date: short}}</span>
        </div>
      </div>
      <div class="comments-section panel panel-primary">
        <div class="panel-heading"><h6 class="panel-title">Comments</h6></div>
        <div class="comment-level" ng-repeat="comment in project.activeTimecard.comments | orderBy: '-time'">
          <span class="history-section-name">{{comment.first}} {{comment.last}}</span> <span class="label" ng-class="{'label-success': comment.action =='approved', 'label-danger': comment.action =='rejected', 'label-warning': comment.action =='submitted'}">{{comment.action}}</span> <span>{{comment.time | date: short}}</span> <span class="comment-text">{{comment.text}}</span>
        </div>

      </div>

    </div>

    <div class="submit-for-approval-area">
      <button type="button" class="btn btn-primary" ng-click="project.submitTimecardForApproval()" ng-show="project.activeTimecard.status == 'active' || project.activeTimecard.status == 'rejected'">submit for approval</button>
      <button type="button" class="btn btn-danger" ng-click="project.rejectTimecardEmployee()" ng-show="project.activeTimecard.status == 'approvals'">reject timecard</button>

    </div>


    </div>


  </div>

</div>
