<div class="container">
  <div class="reviews-timecard-list">
    <div class="col-sm-8 timecard-main" ng-repeat="review in project.allReviews track by $index">
      <span class="timecard-leftnav-header-text">Week Ending {{project.allReviews[$index].weekending | date: medium}}
         </span>
         <span class="timecard-leftnav-header-text">{{project.allReviews[$index].ownerfirstname}} {{project.allReviews[$index].ownerlastname}}</span>
      <br>
      <div class="display-days-section-read-only">

        <div class="day" ng-repeat="day in project.availableDays" >
          <div class="day-name-area col-xs-1">
            <span class="day-name">
              {{day | limitTo: 3}}
            </span>
            <span class="day-date">
              1/16/17
            </span>
            <span class="time-hours-worked">
              3<span class="hours-units"> hrs</span>
            </span>
          </div>

          <div class="day-data-area col-xs-11">
            <div class="row-display-times-call">
              <div class="time-display-holder call-and-wrap">
                {{project.allReviews[$parent.$index][day].call}}
              </div>
              <div class="time-display-holder call-and-wrap">
                {{project.allReviews[$parent.$index][day].wrap}}
              </div>
              <div class="time-display-holder">
                {{project.allReviews[$parent.$index][day].meal1out}}
              </div>
              <div class="time-display-holder">
                {{project.allReviews[$parent.$index][day].meal1in}}
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="row-display-times-call">
              <div class="time-display-holder additional-info">
                {{project.allReviews[$parent.$index][day].daytype}}
              </div>
              <div class="time-display-holder additional-info">
                {{project.allReviews[$parent.$index][day].location}}
              </div>
              <div class="time-display-holder">
                {{project.allReviews[$parent.$index][day].meal2out}}
              </div>
              <div class="time-display-holder">
                {{project.allReviews[$parent.$index][day].meal2in}}
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="row-display-times-call">
              <div class="day-project-list">
                <span ng-repeat='item in project.allReviews[$parent.$index][day].projects' class="project-item-display">{{item}} | <span class="project-amount">{{100/project.allReviews[$parent.$index][day].projects.length | number: 0}}</span></span>
              </div>
              <div class="time-display-holder">
                {{project.allReviews[$parent.$index][day].state}}

              </div>
              <div class="time-display-holder">
                <span ng-show="project.allReviews[$parent.$index][day].perdiem">{{project.allReviews[$parent.$index][day].perdiem}}</span>

              </div>


            </div>
            <div class="clearfix">
            </div>
          </div>
          <div class="clearfix">

          </div>
        </div>
      </div>

      <div class="approval-history-comments-section">
        <div class="approval-flow-display panel panel-primary">
          <div class="panel-heading"><h6 class="panel-title">Approvals</h6></div>
          <div class="if-active-or-rejected" ng-show="project.allReviews[$index].status == 'active' || project.allReviews[$index].status == 'rejected'">
            <div class="approver-level" ng-repeat="level in project.currentUserApprovalFlow">
              <span ng-class="{'glyphicon-circle-arrow-down': !$last, 'glyphicon-ok-circle': $last}"class="glyphicon"></span> <span>{{level.first}} {{level.last}}</span>
            </div>
          </div>
          <div class="if-in-approvals" ng-show="project.allReviews[$index].status == 'approvals'">
            <div class="approver-level" ng-repeat="level in project.allReviews[$index].approvalflow">
              <div class="for-coloration" ng-class="{'level-not-approved': level.approved == false, 'level-approved': level.approved == true}">
                <span ng-class="{'glyphicon-circle-arrow-down': !$last, 'glyphicon-ok-circle': $last}"class="glyphicon"></span> <span>{{level.first}} {{level.last}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="history-section panel panel-primary">
          <div class="panel-heading"><h6 class="panel-title">History</h6></div>
          <div class="history-level" ng-repeat="event in project.allReviews[$index].history | orderBy: ''">
            <span class="history-section-name">{{event.first}} {{event.last}}</span> <span class="label" ng-class="{'label-success': event.action =='approved', 'label-danger': event.action =='rejected', 'label-warning': event.action =='submitted'}">{{event.action}}</span> <span>{{event.time | date: short}}</span>
          </div>
        </div>
        <div class="comments-section panel panel-primary">
          <div class="panel-heading"><h6 class="panel-title">Comments</h6></div>
          <div class="comment-level" ng-repeat="comment in project.allReviews.[$index].comments | orderBy: '-time'">
            <span class="history-section-name">{{comment.first}} {{comment.last}}</span> <span class="label" ng-class="{'label-success': comment.action =='approved', 'label-danger': comment.action =='rejected', 'label-warning': comment.action =='submitted'}">{{comment.action}}</span> <span>{{comment.time | date: short}}</span> <span class="comment-text">{{comment.text}}</span>
          </div>

        </div>

      </div>

      <div class="reviews-submit-for-approval-area">
        <button type="button" class="btn btn-success review-approve" ng-click="project.reviewsApproveTimecard($index)">approve</button>
        <div class="review-reject-button-and-comments">
          <button type="button" class="btn btn-danger review-reject" ng-click="project.reviewsRejectTimecard($index)"  ng-class="{'disabled': project.rejectionComments == ''}">reject </button>
          <br>
          <input type="text" class="form-control rejection-comments" ng-model="project.rejectionComments" name="">

        </div>

      </div>


    </div>

  </div>

  <div class="col-xs-12" ng-show="project.user.reviews.length == 0">
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center">ALL DONE!</h1>
    <h2 class="text-center">way to go stud</h2>
  </div>




  </div>
