<div class="container" ng-if="!project.settingApprovals">
  <div class="col-xs-12" id="users-header">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" ng-click="project.setUserFilter('all')" ng-class="{'active': project.userFilter =='all'}"><a href="#">All Users <span class="badge">{{project.allUsers.length}}</span></a></li>
      <li role="presentation" ng-click="project.setUserFilter('imported')" ng-class="{'active': project.userFilter =='imported'}"><a href="#" class=""><span class="label label-default">imported</span><span class="badge">{{project.importedUsers}}</span></a></li>
      <li role="presentation" ng-click="project.setUserFilter('invite sent')" ng-class="{'active': project.userFilter =='invite sent'}"><a href="#"><span class="label label-info">invite sent</span><span class="badge">{{project.invitesentUsers}}</span></a></li>
      <li role="presentation" ng-click="project.setUserFilter('active')" ng-class="{'active': project.userFilter =='active'}"><a href="#"><span class="label label-success">active</span><span class="badge">{{project.activeUsers}}</span></a></li>
    </ul>
    <input type="text" class="form-control" id="user-search-bar"name="" value="" placeholder="Search by last name..." ng-model="search.lastname" >

    <button type="button" id="user-header-button" name="button" class="btn btn-primary" ng-class="{'disabled': project.selectedUsers ==0}" ng-click="project.setApprovals()">set approvals for {{project.selectedUsers.length}} users</button>
  </div>
  <br>
  <div class="col-xs-12">
    <div class="row user-table-header">
      <div class="col-xs-3">

        <span class="user-table-header-text user-table-text-name">Name</span>
      </div>
      <div class="col-xs-3">
        <span class="user-table-header-text user-table-text-status">Status</span>

      </div>
      <div class="col-xs-3">
        <span class="user-table-header-text user-table-text-approver">Reviewer?</span>

      </div>
      <div class="col-xs-3">
        <span class="user-table-header-text user-table-text-adp">Pulled from ADP</span>

      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row user-table-row" ng-repeat="user in project.allUsers| orderBy : '-createdAt' | filter: search.lastname track by $index" ng-show="user.status && (user.status == project.userFilter || project.userFilter == 'all')" ng-click="user.selected = !user.selected; project.createSelectedUsersList()">
      <div class="col-xs-3">

        <input class="user-table-checkbox" type="checkbox" name="" value="true" ng-model="user.selected">
        <span class="user-table-text-name">{{user.firstname}} {{user.lastname}}</span>
      </div>
      <div class="col-xs-3">
        <span class="label" ng-class="{'label-default': user.status =='imported', 'label-success': user.status =='active', 'label-info': user.status =='invite sent'}">{{user.status}}</span>

      </div>
      <div class="col-xs-3">
        <span ng-show="user.tcReviewerOf.length == 0" class="user-table-text-approver">no</span>
        <span ng-show="user.tcReviewerOf.length > 0" class="user-table-text-approver">{{user.tcReviewerOf.length}} users TC reviewer</span>
        <span ng-show="user.ptoReviewerOf.length > 0" class="user-table-text-approver"><br>{{user.ptoReviewerOf.length}} users PTO reviewer</span>


      </div>
      <div class="col-xs-3">
        <span class="user-table-text-adp">{{user.createdAt | date: 'short'}}</span>

        <span class="glyphicon glyphicon-eye-open vieweye" ng-click="project.setApprovals(); project.viewUser(user)"></span>
      </div>

    </div>
  </div>
</div>

<div ui-view><div>
