
/*@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: normal;
  src:
    local('ProximaNova Regular'),
    local('ProximaNova-Regular'),
    url(/fonts/ProximaNova-Regular.woff),
    url(/fonts/ProximaNova-Regular.otf);
}*/
/*@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: normal;
  src:
    local('ProximaNova Regular Italic'),
    local('ProximaNova-RegularItalic'),
    url(/fonts/ProximaNova-RegularIt.woff),
    url(/fonts/ProximaNova-RegularItalic.otf);
}*/
/*@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: bold;
  src:
    local('ProximaNova Bold'),
    local('ProximaNova-Bold'),
    url(/fonts/ProximaNova-Bold.woff),
    url(/fonts/ProximaNova-Bold.otf);
}*/
/*@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: bold;
  src:
    local('ProximaNova Bold Italic'),
    local('ProximaNova-BoldItalic'),
    url(/fonts/ProximaNova-BoldIt.woff),
    url(/fonts/ProximaNova-BoldIt.otf);
}*/
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src:
    local('ProximaNova Semibold'),
    local('ProximaNova-Semibold'),
    url(/fonts/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 200;
  src:
    local('ProximaNova Semibold'),
    local('ProximaNova-Semibold'),
    url(/fonts/ProximaNova-Semibold.otf);
}

@font-face {
  font-family: 'LucidaGrande';
  font-style: normal;
  font-weight: 300;
  src:
    local('LucidaGrande'),
    local('Lucida Grande'),
    url(/fonts/LucidaGrande.otf);
}
/*@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 300;
  src:
    local('ProximaNova Semibold Italic'),
    local('ProximaNova-SemiboldItalic'),
    url(/fonts/ProximaNova-SemiboldIt.woff),
    url(/fonts/ProximaNova-SemiboldItalic.otf);
}*/
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  src:
    local('ProximaNova Light'),
    local('ProximaNova-Light'),
    url(/fonts/ProximaNova-Light.otf);
}
/*@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 100;
  src:
    local('ProximaNova Light Italic'),
    local('ProximaNova-LightItalic'),
    url(/fonts/ProximaNova-LightIt.woff),
    url(/fonts/ProximaNova-LightItalic.otf);
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.36;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #404042;
  line-height: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.36;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #404042;
  line-height: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.36;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #404042;
  line-height: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.36;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #404042;
  line-height: 15px;
}

.name-and-logout {
  float: right;
  height: 17px;
  margin-top: 13px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 17px;
}

.portallogo {
  float: left;
  height: 17px;
  margin-top: 13px;
  /*font-family: "ProximaNova Semibold", sans-serif;*/
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}



.team {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.standups-header {
  height: 155px;
  background: #368AC0;
}

.back-to-teams {
  font-size: 16px;
}

.links-bar {
  height: 57px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-top: 23px;
}

.links-bar a {
  color: #FFFFFF;
  padding-bottom: 13px;
  margin-right: 45px;
  width: 45px;
}

.links-bar a:hover {
  border-bottom: 4px solid #FFFFFF;
  text-decoration: none;
}
.current {
  border-bottom: 4px solid #FFFFFF;
}

.left-side {
  padding-right: 10px;
}

.right-side {
  padding-left: 10px;
}

.today {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 100;
  font-size: 27px;
  color: #6A6F7B;
  letter-spacing: 0;
  height: 32px;
  margin-top: 23px;
}

.today-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #B5B7BD;
  letter-spacing: 0.29px;
  height: 19px;
  margin-top: 5px;
}

.blockers-header-bar {
  height: 3px;
  width: 100%;
  background: #368AC0;
  margin-top: 18px;
}

.blockers-title-header {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #50535A;
  letter-spacing: 1.5px;
  height: 15px;
  margin-top: 14px;
}

.add-blocker-section {
  margin-top: 12px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  height: 41px;
  display: flex;
  align-items: center;
}

.add-blocker-section input {
  height: 39px;
  border: none;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #404042;
}

.add-blocker-section input:focus {
  outline: none;
  border-bottom: 1px solid #368AC0;
}

.add-active-blocker-button {
  background: #428BCA;
  width: 91px;
  border: 1px solid #357EBD;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
}

.add-active-blocker-button:focus {
  outline: none;
}

.no-active-blockers-section {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #EBEBEB;
}

.red-circle-section {
  width: 21px;
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
}

.red-circle {
  background: #EE3604;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.orange-circle {
  background: #FF7303;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.blocker-item-section {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 15px;
}

.blocker-item-top-section {
  height: 49px;
  margin-top: 18px;
}

.blocker-item-name-date-title-update-resolve {
  height: 100%;
  width: auto;
  overflow:hidden;
}

.blocker-item-name-and-date {
  width: auto;
  opacity: 0.69;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #404042;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
}

.blocker-item-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: #404042;
  line-height: 18px;
}

.update-resolve-button {
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #368AC0;
  line-height: 13px;
  width: 33px;
  padding: 0px;
  margin-right: 16px;
}
.update-resolve-button:focus {
  outline: none;
}

.mark-completed-button {
  float: right;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 10px;
  color: #368AC0;
  line-height: 13px;
  width: 72px;
  padding: 0px;
  margin-right: 19px;
}
.mark-completed-button:focus {
  outline: none;
}

.upcoming-blockers-section {
  margin-top: 27px;
}

.blocker-item-comments-area input {
  height: 39px;
  border: none;
  width: 100%;
  padding-left: 21px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #404042;
}

.blocker-item-comments-area input:focus {
  outline: none;
  border-bottom: 1px solid #368AC0;
}

.blocker-item-comments-area {
  margin-top: 6px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  height: 41px;
  display: flex;
  align-items: center;
}

.add-comment-button {
  background: none;
  border: .5px solid #357EBD;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #368AC0;
}

.add-comment-button:focus {
  outline: none;
}

.comments-header {
  padding-left: 21px;
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  color: #50535A;
  letter-spacing: 1px;
  line-height: 10px;
  height: 10px;
}

.comments-header button {
  border: none;
  padding: 0px;
  background: none;
  font-family: 'LucidaGrande';
  font-style: normal;
  font-weight: 300;
  color: #0088CC;
}

.comments-header button:focus {
  outline: none;
}


.comments-header:before, .comments-header:after {
  background: #EBEBEB;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}
.comments-header:before {
  margin-right:16px;
}
.comments-header:after {
  margin-left:16px;
}

.latest-circle {
  font-family: 'LucidaGrande';
  font-style: normal;
  font-weight: 300;
  color: #AAABAE;
  margin-left: 3px;
}

.comment-owner-and-text {
  padding-left: 21px;
  overflow: hidden;
}

.comment {
  margin-top: 9px;
}

.comment-date {
  float: right;
  opacity: 0.69;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #404042;
  line-height: 13px;
}

.comment-owner {
  opacity: 0.69;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #404042;
  line-height: 13px;
}

.comment-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #404042;
  line-height: 18px;
}

.my-standup-header {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 100;
  font-size: 27px;
  height: 32px;
  margin-top: 23px;
  color: #6A6F7B;
  letter-spacing: 0;

}

.previous-next-header {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  height: 15px;
  margin-top: 15px;
  color: #50535A;
  letter-spacing: 1.5px;
}

.previous-next-header-horizontal-line {
  height: 1px;
  background-color: #979797;
  opacity: .13;
  margin-top: 13px;
}

.previous-next-smaller-section {
  border: 1px solid #E3E3E3;
  border-bottom: none;
  margin-top: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #6A6A6A;
  font-size: 12px;
  width: 99%;
}

.previous-next-smaller-section-next {
  border: 1px solid #E3E3E3;
  margin-top: 7px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #6A6A6A;
  font-size: 12px;
  width: 99%;
}

.previous-next-smaller-section-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #6A6A6A;
  letter-spacing: 0;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #E3E3E3;
}

.todo-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #404042;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E3E3E3;
}

.todo-item input {
  width: 100%;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
}

.todo-item button {
  display: flex;
  align-items: center;
  padding: 0px;
  background: none;
  border: none;
  font-size: 12px;
  width: 12px;
  height: 12px;
  margin-right: 47px;
}

.selected-todo-item {
  border-bottom: 1px solid #368AC0;
}

.todo-item button span {
  transform: translate(0px,-1px);
  opacity: .35;

}

.todo-item input:focus {
  outline: none;
  border-bottom: none;
}

.add-todo-button {
  margin-top: 21px;
  margin-left: 26px;
  margin-bottom: 14px;
  width: 95px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #357EBD;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #368AC0;

}

.save-standup-button {
  margin-top: 22px;
  height: 20px;
  width: 95px;
  background: #368AC0;
  border: 1px solid #357EBD;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
}

.next {
  margin-top: 43px;
}

.landing-background {
  background-color: #368AC0;
}

.landing-box {
  background-color: #FFFFFF;
  width: 92.6%;
  margin: 0 auto;
  margin-top: 20vh;
  height: 355px;
  border-radius: 3px;
}

.landing-height {
  min-height: 100vh;
  height: 100%;
}

.portal-logo-landing {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 53px;
}

.check {
  margin-top: 53px;
}

svg {float:left}

.landing-email-input {
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  width: 85%;
  margin: 0 auto;
  height: 30px;
  margin-top: 59px;
  display: flex;
  align-items: center;
}

.landing-email-icon {
  margin-left: 15px;
}

.landing-password-icon {
  margin-left: 17px;
}

#landing-password {
  margin-left: 13px;
}

#password-section {
  margin-top: 9px;
}

.landing-email-input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #6A6A6A;
  letter-spacing: 0;
}
.landing-email-input input {
  border: none;
  line-height: 26px;
  width: 100%;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #6A6A6A;
  letter-spacing: 0;
  margin-left: 12px;
}
.landing-email-input input:focus { /* Chrome/Opera/Safari */
  outline: none;
}

.login-button {
  background: #428BCA;
  border-radius: 3px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  border: none;
  width: 85%;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}

.signup-forgot-password-section {
  margin: 0 auto;
  width: 85%;
  height: 17px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
}

.not-yet-registered {
  color: #6A6A6A;
}

.signup-link {
  color: #428BCA;
}

.forgot-password-link {
  opacity: .5;
  color: #6A6A6A;
}

.picking-team-background {
  background-color: #EDEFF1;
  min-height: 100vh;
  height: 100%;
}

.picking-team-header {
  background-color: #368AC0;
  height: 56px;
}

.name-and-logout {
  cursor: pointer;
}

.select-your-team-header {
  width: 222px;
  margin-top: 91px;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  font-size: 27px;
  color: #6A6F7B;
  letter-spacing: 0;
  text-align: right;
  height: 33px;
  line-height: 33px;
}

.team-option-placeholder {
  padding: 0px;
}

.team-option {
  border-radius: 3px;
  width: auto;
  margin: 21px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 258px;
  background-clip: content-box;
  background-color: #FFFFFF;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #50535A;
  letter-spacing: 0;
  line-height: 20px;
}

.team-option:hover {
  border: 2px solid #368AC0;
}

.team-option-logo {
  height: 34px;
  width: 34px;
}

.team-option-teamname {
  margin-left: 29px;
}

.standup-team-section {
  position: relative;
  margin-top: 26px;
  display: inline-block;
}

.team-title {
  cursor: pointer;
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 100;
  font-size: 34px;
  color: #FFFFFF;
  letter-spacing: 0;
  height: 41px;
  display: flex;
  align-items: center;
}
.standup-header-section {
  padding: 0px;
}

.team-title span {
  font-size: 8px;
  line-height: 41px;
  margin-left: 7px;
}

.standup-available-teams-list {
  /*display: none;*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.standup-available-teams-list li {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 100;
    padding: 12px 16px;
    color: #6A6F7B;
    letter-spacing: 0;
    text-decoration: none;
    display: block;
}
.standup-available-teams-list li:hover {
  background-color: #f1f1f1;
}
/*.standup-team-section:hover .standup-available-teams-list {
    display: block;
}*/
.standup-team-section:hover .standup-available-teams-list {
    background-color: #FFFFFF;
}
