<p class="text-center good larger">{{project.activeProject.name}}</p>
<h6 class="text-center good smaller">Last updated: {{project.activeProject.updated_at | date:"MM/dd/yyyy 'at' h:mma" }}</h6>
<p class="text-center">
  <a ui-sref="project_edit" ng-if="project.isAdam" >Edit</a>
</p>

<div class="container">
  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <img class="project-image black" src="{{project.activeProject.imgsrc}}" alt="">
  </div>

</div>
<br>
<br>

<div class="container">
  <p class="text-center good">{{project.activeProject.short_description}}</p>
</div>
<br>
<br>

<div class="container">
  <div class="col-xs-10 col-xs-offset-1">
    <p class="good">{{project.activeProject.long_description}}</p>

  </div>
</div>

<br>
<br>

<div class="container">
  <div class="" ng-repeat="item in project.activeProject.links">
    <p class="text-center">
      <a href="https://{{item.address}}">{{item.description}}</a>
    </p>
  </div>
</div>
