
<hr>

This is to make sure I was able to host mongo correctly.

<br>
<br>

<button class="" ng-click='counter.createCounter()'>
Create Counter
</button>

<br>
<br>

<div class="" ng-repeat='item in counter.allCounters track by $index'>
  {{item.value}}
  <button type="button" name="button" ng-click='counter.addValue($index)'>+</button>
  <button type="button" name="button" ng-click='counter.subtractValue($index)'>-</button>
  <button type="button" name="button" ng-click='counter.deleteCounter($index)'>delete counter</button>
</div>
